.card {
  min-width: 326px;
  padding: 16px;
  border-radius: 4px;
  height: fit-content;
  transition: all 0.3s ease;
  height: 100%;
  &-title {
    border-radius: 4px;
    width: fit-content;
    padding: 2px 8px;
    border: 1px solid blue;
    margin-bottom: 8px;
  }
  &-list {
    &-element {
      transition: all 0.3s ease;
      background-color: #fafafa;
      border-radius: 4px;
      overflow: hidden;
      animation: show 0.3s ease forwards;
      cursor: grab;
      &-title {
        padding-bottom: 8px;
        border-bottom: 1px #e0e0e0 dashed;
      }
    }
    &-nolist {
      padding: 8px 16px;
      background-color: #fafafa;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
    }
  }
}

.setting {
  cursor: pointer;
}
.listWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes show {
  from {
    padding: 0;
    border: 0;
    height: 0;
  }
  to {
    padding: 16px;
    border: 1px solid #e0e0e0;
    height: auto;
  }
}
